@font-face {
  font-family: 'icomoon';
  src: url('icomoon.eot?icp4qa');
  src: url('icomoon.eot?icp4qa#iefix') format('embedded-opentype'),
    url('icomoon.ttf?icp4qa') format('truetype'),
    url('icomoon.woff?icp4qa') format('woff'),
    url('icomoon.svg?icp4qa#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fa-bookmark-o:before {
  content: "\e900";
}

.icon-fa-coffee:before {
  content: "\e901";
}

.icon-fa-comment:before {
  content: "\e902";
}

.icon-fa-facebook:before {
  content: "\e903";
}

.icon-fa-github:before {
  content: "\e904";
}

.icon-fa-linkedin:before {
  content: "\e905";
}

.icon-fa-twitter:before {
  content: "\e906";
}

.icon-fa-vimeo:before {
  content: "\e907";
}

.icon-fa-youtube:before {
  content: "\e908";
}
