.footer.wrapper
    #footer
        #footer-info
            .contact-info
                p
                    strong Contact
                    span.label mail: 
                    |erik[@]porroa.com
                    br
                    span.label skype: 
                    |eporroa

            .social-networks-follow
                p
                    strong Follow
                    a(href='#')
                        img(src='images/ic-youtube.gif', width='73', height='49')
                    a(href='#')
                        img(src='images/ic-facebook2.gif', width='34', height='49')
                    a(href='#')
                        img(src='images/ic-twitter2.gif', width='54', height='49')
                    a(href='#')
                        img(src='images/ic-rss.gif', width='29', height='49')
    // #footer