.footer.wrapper
    #footer
        #footer-info
            .contact-info
                p
                    strong Contact
                    span.label mail: 
                    |erik[@]porroa.com
                    br
                    span.label skype: 
                    |eporroa

            .social-networks-follow
                p
                    strong Follow
                    <div class="fb-follow" data-href="https://www.facebook.com/eporroa" data-width="300" data-height="150" data-layout="standard" data-size="small" data-show-faces="true"></div>
                    <a class="twitter-follow-button" href="https://twitter.com/eporroa" data-size="large">Follow @eporroa</a>
    // #footer