#header
    #logo
        h1
            a(href='/') Erik Porroa
    ul#main-nav
        li
            a(href='#') About
        li
            a(href='#') Portfolio
        li
            a(href='#') Contact
    // #header