.wrapper{
    @include make-container;
}
    #header, #content, #footer{
        @include make-container-max-widths;
        @include make-row;
        margin: 0 auto;
    }

    #header {
        align-items: flex-end;

        @include media-breakpoint-down(md) {
            padding: 2.5em 0 0;
            background-color: $color_14;

            #main-nav{
                margin: 2em 0;
            }
        }

        @include media-breakpoint-up(lg) {
            padding: 2.5em 0;
        }
    }
  
    #logo, #main-nav, #main, #side-col {
      @include make-col-ready();
    }

    #logo {
      @include media-breakpoint-up(lg) {
        @include make-col(3);
      }
    }

    #main-nav{
        @include media-breakpoint-up(lg) {
            @include make-col(9);
        }
    }

    #content {
        flex-direction: row-reverse;
    }

        #main{
            @include media-breakpoint-up(lg) {
                @include make-col(9);
            }
        }
        #side-col{
            @include media-breakpoint-up(lg) {
                @include make-col(3);
            }
        }

    #footer-info{
        @include make-row();
        width: 100%;
        
        .contact-info,
        .social-networks-follow{
            @include make-col-ready();
            @include media-breakpoint-up(lg) {
                @include make-col(3);
            }
        }
	}