extends _layouts/base

include _modules/link/link

block content
  #content
    #main
      .posts-holder
        h2 Recent Posts
        .post
          .meta
            a(href='#') Project Management
            small Jan 5, 2018
          h2
            a(href='#') Sony launches Morgans Facebook App
          .just-text.post-body
            p
              | When it was announced a while back that Zend was going to include 
              a(href='#') AMF (Action Message Format)
              |  functionality supported by Adobe, I was excited to hear that there would be an "official" way to use AMF with PHP, as I had used AMFPHP, an unsupported implementation, with mixed success. I experimented with Zend AMF a little when it was released, and there were two things that annoyed me about this implementation as compared with 
              a(href='#') AMFPHP
              | , but I revisited it this week and discovered remedies for both issues.
          a.link-comm(href='#') 8 Comments
          a.link-more(href='#') More
        // .post

        .post
          .meta
            a(href='#') Design
            small Jan 5, 2018
          h2
            a(href='#') Making the A-List
          .just-text.post-body
            p
              | As many Think readers already know, Big Spaceship was one of the founding agencies in a non-profit association called the 
              a(href='#') Society of Digital Agencies (SoDA
              | ).  SoDA brings together a range of amazing digital agencies (41, at current count) from around the world, all of whom share a common desire to advance the field of digital marketing. This year, that shared desire led to the publication of 
              a(href='#') The SoDA 2010 Digital Marketing Outlook
              | , a fantastic collection of articles and thought pieces from SoDA members.
          a.link-comm(href='#') 8 Comments
          a.link-more(href='#') More
        // .post
      // .posts-holder
    // #main
    #side-col
      .side-div
        .just-text
          h2 Follow me
          .follow.just-text
            ul#social
              li
                a(href='https://twitter.com/eporroa',target='_blank')
                  span.icon-fa-twitter
                  | on Twitter
              li
                a(href='http://fb.me/eporroa',target='_blank')
                  span.icon-fa-facebook
                  | on Facebook
              li
                a(href='https://linkedin.com/in/eporroa',target='_blank')
                  span.icon-fa-linkedin
                  | on Linkedin
              li
                a(href='https://www.youtube.com/user/eporroa',target='_blank')
                  span.icon-fa-youtube
                  | on YouTube
              li
                a(href='http://github.com/eporroa',target='_blank')
                  span.icon-fa-github
                  | on Github
    // #side-col